<div class="navbar navbar-left navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
      <div class="navbar-header">
          <button class="navbar-toggle navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main" ng-click="slideMenu()">
          B
		  </button>
          <div class="navbar-brand">CO Vadis</div>
        </div>
    </div>
</div>

<div class="site-container" ng-class="slide ? 'menu-active' : ''">

<!--
	<div class="loader" ng-hide="loading">
		<div class="fa fa-spinner fa-pulse fa-4x"></div>
		<div>geolocating</div>
	</div>
-->

	<nav id="slide-menu">
		<ul class="list">
	      <li><a href="" ng-click="map()" class="btn" translate>Map</a></li>
	      <li><a href="" ng-click="parking()" class="btn" translate>Parking List</a></li>
	      <li class="list-item"><a href="" ng-click="cityshuttle()" class="btn" translate>City Shuttle</a></li>
	      <li class="list-item"><a href="" ng-click="bikesharing()" class="btn" translate>Bike Sharing</a></li>
	      <li class="list-item"><a href="" ng-click="bustimetable()" class="btn" translate>Bus Timetable</a></li>
	      <li class="list-item"><a href="" ng-click="boattimetable()" class="btn" translate>Boat Timetable</a></li>
	      <li class="list-item"><a href="" ng-click="shopincomo()" class="btn" translate>ShopInComo</a></li>
	      <!--<li class="list-item" ng-click="settings()"><span class="fa fa-cog"></span><span class="list-text" translate>Settings</span></li>-->
		</ul>
	</nav>

	<div id="content" class="content">
	<div class="second-navbar second-navbar-fixed-top">
    	<div class="btn-group btn-group-justified">
    		<a href="" ng-click="showParking()" class="btn btn-second-navbar" ng-class="showHideParking ? 'parking-active' : ''">Parking</a>
    		<a href="" ng-click="showBikesharing()" class="btn btn-second-navbar" ng-class="showHideBikesharing ? 'bike-active' : ''">Bike Sharing</a>
    		<a href="" ng-click="showCityshuttle()" class="btn btn-second-navbar" ng-class="showHideCityshuttle ? 'cityshuttle-active' : ''">City Shuttle</a>
  		</div>
	</div>
	<div id="map" style="height: 800px"></div>
	</div>
</div>