<a href="" ng-click="updateParking(parkingList)" class="btn btn-primary">Refresh</a>
<div class="btn-group btn-group-justified">
  <a href="" ng-click="setOrder('userDistance', false)" class="btn btn-primary" ng-class="{ 'active' : order == 'userDistance' }" >Distance</a>
  <a href="" ng-click="setOrder('freeParking', true)" class="btn btn-primary" ng-class="{ 'active' : order == 'freeParking' }" >Free</a>
</div>
<div class="btn-group btn-group-justified">
  <a href="" class="btn btn-primary active">List</a>
  <a href="" ng-click="showMap('map')" class="btn btn-primary">Map</a>
</div>

<div class="col-lg-12 col-md-12 col-sm-12">
	<div class="list-group">
	  <a href="" ng-repeat="parking in parkingList|orderBy: order:reverse" ng-click="parkingInfo(parking.idParking)" class="list-group-item">
	    <span class="badge">{{parking.freeParking}}/{{parking.totalParkingNumber}}</span>
	    <h4 class="list-group-item-heading">{{parking.name}}</h4>
	    <p class="list-group-item-text">{{parking.address}} - {{parking.userDistance}}</p>
	  </a>
	</div>
</div>

