<div class="navbar navbar-left navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
      <div class="navbar-header">
          <button class="navbar-toggle navbar-toggle fa fa-bars fa-lg" type="button" data-toggle="collapse" data-target="#navbar-main" ng-click="slideMenu()">
          </button>
          <div class="navbar-brand">CO Vadis</div>
        </div>
    </div>
</div>

<div class="site-container" ng-class="slide ? 'menu-active' : ''">

  <nav id="slide-menu">
    <ul class="list">
      <li class="list-item" ng-click="map()"><span class="fa fa-map-marker"></span><span class="list-text" translate>Map</span></li>
      <li class="list-item" ng-click="parking()"><span class="fa fa-car"></span><span class="list-text" translate>Parking List</span></li>
      <li class="list-item" ng-click="cityshuttle()"><span class="fa fa-bus"></span><span class="list-text" translate>City Shuttle</span></li>
      <li class="list-item" ng-click="bikesharing()"><span class="fa fa-bicycle"></span><span class="list-text" translate>Bike Sharing</span></li>
      <li class="list-item" ng-click="bustimetable()"><span class="fa fa-bus"></span><span class="list-text" translate>Bus Timetable</span></li>
      <li class="list-item" ng-click="boattimetable()"><span class="fa fa-ship"></span><span class="list-text" translate>Boat Timetable</span></li>
      <li class="list-item" ng-click="shopincomo()"><span class="fa fa-gift"></span><span class="list-text" translate>ShopInComo</span></li>
      <!--<li class="list-item" ng-click="settings()"><span class="fa fa-cog"></span><span class="list-text" translate>Settings</span></li>-->
    </ul>
  </nav>

  <div id="content" class="content">
    <div class="second-navbar second-navbar-fixed-top">
        <div class="btn-group btn-group-justified">
      		<a href="" class="btn btn-second-navbar" data-toggle="modal" data-target="#order" translate>Order</a>
      	</div>
    </div>
    
    <div class="top">
      <div class="loader" ng-hide="loading">
        <div class="fa fa-spinner fa-pulse fa-4x"></div>
      </div>
    	<div class="list-group" id="list" ng-show="loading">
    		<a href="" ng-repeat="parking in parkingList|orderBy: order:reverse" ng-click="parkingInfo(parking.idParking)" class="list-group-item">
    			<span class="badge" ng-class="parking.freeParking >= 300 ? 'badge-success' : parking.freeParking < 50 ? 'badge-alert' : 'badge-warning'">{{parking.freeParking}}/{{parking.totalParkingNumber}}</span>
    			<h4 class="list-group-item-heading">{{parking.name}}</h4>
    			<p class="list-group-item-text">{{parking.address}} - {{parking.userDistance}} Km</p>
    		</a>
    	</div>
    </div>
  

    <div class="modal fade" id="order" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
      				<div class="list-group">
                    <a href="" ng-click="setOrder('userDistance', false)" class="list-group-item" ng-class="{ 'active' : order == 'userDistance' }" data-dismiss="modal" translate>Order by Distance</a>
      				<a href="" ng-click="setOrder('freeParking', true)" class="list-group-item" ng-class="{ 'active' : order == 'freeParking' }" data-dismiss="modal" translate>Order by Free Parking</a>
    				</div>
                </div>
        </div>
      </div>
    </div>
  </div>
</div>

